<a href="https://colab.research.google.com/github/iampramodyadav/python/blob/main/daily_practice_problem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Practice Questions

## Function

### Multiplication Table
- Write a function that inputs a number and prints the multiplication table of 
that number.

In [1]:
def table(a):
  '''
  this function ptint table
  '''
  print("Table of {} is\n".format(a))
  for i in range(1,11):
    print(i,"* ",a, "=",i*a,)

In [2]:
table(10)

Table of 10 is

1 *  10 = 10
2 *  10 = 20
3 *  10 = 30
4 *  10 = 40
5 *  10 = 50
6 *  10 = 60
7 *  10 = 70
8 *  10 = 80
9 *  10 = 90
10 *  10 = 100

In [3]:
print(table.__doc__)

  this function ptint table

### Twin Prime
- Write a program to print twin primes less than 1000. If two consecutive odd numbers are both prime then they are known as twin primes. [twin prime](https://en.wikipedia.org/wiki/Twin_prime)

**Algorithm-1**


---

In [15]:
def isPrime(a):
  '''
  this function check for prime number and return true

  '''
  for i in range(2,int(a**0.5)+1):
    if a%i==0:
      return False
  return True



def TwinPrime(x):
  '''
  this function give twin prime numbers bellow entred number
  '''
  temp=0
  for i in range(3,x,2):
    if isPrime(i) and isPrime(i+2):
      print("({},{})".format(i,i+2))
      temp+=1
  print("no of twin prime is {}".format(temp))

In [13]:
print(isPrime.__doc__)

  this function check for prime number and return true

In [14]:
print(TwinPrime.__doc__)

  this function give twin prime number bellow entred number

In [10]:
TwinPrime(1000)

(3,5)
(5,7)
(11,13)
(17,19)
(29,31)
(41,43)
(59,61)
(71,73)
(101,103)
(107,109)
(137,139)
(149,151)
(179,181)
(191,193)
(197,199)
(227,229)
(239,241)
(269,271)
(281,283)
(311,313)
(347,349)
(419,421)
(431,433)
(461,463)
(521,523)
(569,571)
(599,601)
(617,619)
(641,643)
(659,661)
(809,811)
(821,823)
(827,829)
(857,859)
(881,883)
no of twin prime is 35

**Algorithm-2**

---

In [71]:
def listPrime(a):
  """
  this function return list of prime number bellow enterd number
  """
  lst=[]
  for i in range(2,a+1):
    for j in range(2, int(i**0.5)+1):
      if i%j==0:
        break
    else:
      lst.append(i)
  return(lst)


def twinPrime2(x):
  """
  this function print twin prime from list of prime
  """
  temp=0
  prime=listPrime(x)
  for i in range(len(prime)-1):
    if prime[i+1]-prime[i]==2:
      print("({},{})".format(prime[i],prime[i+1]))
      temp+=1
  print("Number of twin prime bellow {}, is {}".format(x,temp))

In [73]:
print(listPrime.__doc__)

  this function return list of prime number bellow enterd number

In [75]:
print(twinPrime2.__doc__)

  this function print twin prime from list of prime

In [72]:
twinPrime2(1000)

(3,5)
(5,7)
(11,13)
(17,19)
(29,31)
(41,43)
(59,61)
(71,73)
(101,103)
(107,109)
(137,139)
(149,151)
(179,181)
(191,193)
(197,199)
(227,229)
(239,241)
(269,271)
(281,283)
(311,313)
(347,349)
(419,421)
(431,433)
(461,463)
(521,523)
(569,571)
(599,601)
(617,619)
(641,643)
(659,661)
(809,811)
(821,823)
(827,829)
(857,859)
(881,883)
Number of twin prime bellow 1000, is 35

## Recursive function


*   Write recursive function for HCF

In [6]:
def rHCF(a,b):
  """
  this function print HCF via recursion method
  """
  s=a if a<b else b
  l=b if a<b else a
  if l%s==0:
    return(s)
  else:
    a=l%s
    b=s
    return(rHCF(a,b))

In [7]:
rHCF(121,33)

11

In [8]:
a=25;b=1215
print("the HCF of", a, "and", b ,"is", rHCF(a,b))

the HCF of 25 and 1215 is 5

In [9]:
print(rHCF.__doc__)

  this function print HCF via recursion method

In [10]:
int(10**0.5)

3

In [17]:
for i in range(2,3):
  print(i)

2

In [41]:
list=[1,2,3,5]
print(list[0],list[1])

1 2