<a href="https://colab.research.google.com/github/iampramodyadav/python/blob/main/daily_practice_problem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Practice Questions

# Function

## Multiplication Table
- Write a function that inputs a number and prints the multiplication table of 
that number.

In [ ]:
def table(a):
  '''
  this function ptint table
  '''
  print("Table of {} is\n".format(a))
  for i in range(1,11):
    print(i,"* ",a, "=",i*a,)

In [ ]:
table(10)

Table of 10 is

1 *  10 = 10
2 *  10 = 20
3 *  10 = 30
4 *  10 = 40
5 *  10 = 50
6 *  10 = 60
7 *  10 = 70
8 *  10 = 80
9 *  10 = 90
10 *  10 = 100

In [ ]:
print(table.__doc__)

  this function ptint table

## Twin Prime
- Write a program to print twin primes less than 1000. If two consecutive odd numbers are both prime then they are known as twin primes. [twin prime](https://en.wikipedia.org/wiki/Twin_prime)

### Algorithm-1


---

In [ ]:
def isPrime(a):
  '''
  this function check for prime number and return true

  '''
  for i in range(2,int(a**0.5)+1):
    if a%i==0:
      return False
  return True



def TwinPrime(x):
  '''
  this function give twin prime numbers bellow entred number
  '''
  temp=0
  for i in range(3,x,2):
    if isPrime(i) and isPrime(i+2):
      print("({},{})".format(i,i+2))
      temp+=1
  print("no of twin prime is {}".format(temp))

In [ ]:
print(isPrime.__doc__)

  this function check for prime number and return true

In [ ]:
print(TwinPrime.__doc__)

  this function give twin prime numbers bellow entred number

In [ ]:
TwinPrime(1000)

(3,5)
(5,7)
(11,13)
(17,19)
(29,31)
(41,43)
(59,61)
(71,73)
(101,103)
(107,109)
(137,139)
(149,151)
(179,181)
(191,193)
(197,199)
(227,229)
(239,241)
(269,271)
(281,283)
(311,313)
(347,349)
(419,421)
(431,433)
(461,463)
(521,523)
(569,571)
(599,601)
(617,619)
(641,643)
(659,661)
(809,811)
(821,823)
(827,829)
(857,859)
(881,883)
no of twin prime is 35

### Algorithm-2

---

In [ ]:
def listPrime(a):
  """
  this function return list of prime number bellow enterd number
  """
  lst=[]
  for i in range(2,a+1):
    for j in range(2, int(i**0.5)+1):
      if i%j==0:
        break
    else:
      lst.append(i)
  return(lst)


def twinPrime2(x):
  """
  this function print twin prime from list of prime
  """
  temp=0
  prime=listPrime(x)
  for i in range(len(prime)-1):
    if prime[i+1]-prime[i]==2:
      print("({},{})".format(prime[i],prime[i+1]))
      temp+=1
  print("Number of twin prime bellow {}, is {}".format(x,temp))

In [ ]:
print(listPrime.__doc__)

  this function return list of prime number bellow enterd number

In [ ]:
print(twinPrime2.__doc__)

  this function print twin prime from list of prime

In [ ]:
twinPrime2(1000)

(3,5)
(5,7)
(11,13)
(17,19)
(29,31)
(41,43)
(59,61)
(71,73)
(101,103)
(107,109)
(137,139)
(149,151)
(179,181)
(191,193)
(197,199)
(227,229)
(239,241)
(269,271)
(281,283)
(311,313)
(347,349)
(419,421)
(431,433)
(461,463)
(521,523)
(569,571)
(599,601)
(617,619)
(641,643)
(659,661)
(809,811)
(821,823)
(827,829)
(857,859)
(881,883)
Number of twin prime bellow 1000, is 35

## Prime factorisation
Write a program to find out the prime factors of a number. Example: prime factors of 56 -2, 2, 2, 7

### Algorithm-1

---

In [3]:
def primeFact(n):
  '''
  this function print list of prime factors for entered numbers
  '''
  if n==1:
    print('no prime factor for 1')
    return
  lst=[]

  for i in range(2,n):
    while n%i==0:
      lst.append(i)
      n=n//i

  print('prime factor of are: {}'.format(lst))

primeFact(44289)

prime factor of are: [3, 3, 7, 19, 37]

### Algorithm-2 More efficient

In [4]:
import math
def factors(num):
  """takes a number and prints prime factors of that number"""

  if num==1:
    print("no prime factors for 1")
    return

  factor=[]
  for i in range(2,int(math.sqrt(num))+1):    #we reduce the number of loop
    while num%i==0:
      factor.append(i)
      num=num//i

  if num!=1:                              #if there are any foctor >sqrt(num) then it will currecnlt in num
    factor.append(num)
  print("factors are: {}".format(factor))

factors(44289)

factors are: [3, 3, 7, 19, 37]

In [ ]:
factors(9905973)

factors are: [3, 7, 11, 19, 37, 61]

In [ ]:
primeFact(9905973)

prime factor of are: [3, 7, 11, 19, 37, 61]

In [5]:
primeFact(1263761079)

prime factor of are: [3, 7, 17, 19, 211, 883]

it took 103 sec for abov number

In [6]:
factors(1263761079)

factors are: [3, 7, 17, 19, 211, 883]

it took 1.4 sec, so factor(n) is more efficient.

## permutation and combination
Write a program to implement these formulae of permutations and combinations.
Number of permutations of n objects taken r at a time: p(n, r) = n! / (n-r)!. Number of combinations of n objects taken r at a time is: c(n, r) = n! / (r!*(n-r)!) = p(n,r) / r!

In [ ]:
def fact(n):
  '''
  return factorial of entered number
  '''
  n=int(n)
  factorial=1
  for i in range(1,n+1):
    factorial*=i
  return factorial

def p(n,r):
  '''
  return permutation of entered number
  '''
  if n<r:
    print("inavlid entry")
  perm=fact(n)/fact(n-r)
  return perm

def c(n,r):
  '''
  return combination of entered number
  '''
  if n<r:
    print('invalid')
  
  combi= p(n,r)/fact(r)
  return combi

n=int(input('enter the value of n :'))   #In python 3, the input() function returns a string.
r=int(input('entet the value of r :'))
print('permutation of entered numbers is {}, and combination is {}'.format(p(n,r),c(n,r)))

enter the value of n :5
entet the value of r :3
permutation of entered numbers is 60.0, and combination is 10.0

In [ ]:
fact(5)

120

In [ ]:
p(5,3)

float

In [ ]:
c(5,3)

10.0

## Decimal to binary
Write a function that converts a decimal number to binary number

### Algorithm-1

In [98]:
def Decimal2Binary(num):
  """take a decimal number and return it's binary representaion"""
  lst=[]
  while num>0:
    i=num%2
    lst.insert(0,i) #or lst.append(i) then lst.reverse()
    num=num//2
  for i in lst:
    print(i, end='')

In [99]:
l=Decimal2Binary(10)

1010

### Algorithm-2 (recursive function)

In [100]:
def rDecimal2Binary(num):
  """take a decimal number and return it's binary representaion"""
  if num>1:
    rDecimal2Binary(num//2)
  i=num%2
  print(i,end='')

In [101]:
rDecimal2Binary(10)

1010

### Algorithm-3

In [102]:
def binary(num):
  """take a decimal number and return it's binary representaion"""
  temp=[]
  while num>0:
    temp.append(num & 1)    #bitwise operator &
    num=num>>1              #bitwise operator >>
  
  temp=temp[::-1]           #reversing the list
  temp=map(str,temp)
  return int("".join(temp))  #join and print
binary(10)

1010

In [61]:
24 & 1

0

In [62]:
24>>1

12

## Armstrong number
 Write a function **cubesum()** that accepts an integer and returns the sum of the cubes of individual digits of that number. Use this function to make functions **PrintArmstrong()** and **isArmstrong()** to print Armstrong numbers and to find whether is an Armstrong number

### Algorithm-1

---

In [50]:
def cubesum(n):
  '''this return sum of cube of its digit'''
  l=str(n)
  s=0
  for i in l:
    s=s+int(i)**3
  return s

def isArmstrong(a):
  '''check for armstrong number '''
  if a==cubesum(a):
    return True
  else:
    return False

def PrintArmstrong(num):
  '''print armstrong number '''
  if isArmstrong(num):
    print("{} is an armstrong number".format(num))
  else:
    print("{} is NOT an armstrong number".format(num))

In [27]:
cubesum(153)

153

In [28]:
isArmstrong(153)

True

In [29]:
PrintArmstrong(153)

153 is an armstrong number

In [44]:
PrintArmstrong1(370)

370 is an armstrong number

In [47]:
PrintArmstrong1(407)

407 is an armstrong number

### Algorithm-2

---

In [49]:
def cubesum1(n):
  '''this return sum of cube of its digit'''
  s=0
  while n>0:
    i=n%10
    s=s+i**3
    n=n//10
  return s

def isArmstrong1(a):
  '''check for armstrong number '''
  if a==cubesum1(a):
    return True
  else:
    return False

def PrintArmstrong1(num):
  '''print armstrong number '''
  if isArmstrong1(num):
    print("{} is an armstrong number".format(num))
  else:
    print("{} is NOT an armstrong number".format(num))

In [41]:
PrintArmstrong1(153)

1531 is NOT an armstrong number

In [42]:
PrintArmstrong1(370)

370 is an armstrong number

In [48]:
PrintArmstrong1(407)

407 is an armstrong number

# Recursive function


*   Write recursive function for HCF

In [ ]:
def rHCF(a,b):
  """
  this function print HCF via recursion method
  """
  s=a if a<b else b
  l=b if a<b else a
  if l%s==0:
    return(s)
  else:
    a=l%s
    b=s
    return(rHCF(a,b))

In [ ]:
rHCF(121,33)

11

In [ ]:
a=25;b=1215
print("the HCF of", a, "and", b ,"is", rHCF(a,b))

the HCF of 25 and 1215 is 5

In [ ]:
print(rHCF.__doc__)

  this function print HCF via recursion method